@using WCRM.ViewModel
@model HomeViewModel
<div class="container-fluid bg-primary text-white d-none d-lg-flex">
    <div class="container py-3">
        <div class="d-flex align-items-center">
            <a href="">
                <img src="@Model.configs.logo" alt="Enrich Coder" height="50">
            </a>
            <div class="ms-auto d-flex align-items-center">
                <small class="ms-4" style="font-size: 13px"><i class="fa fa-map-marker-alt me-1"></i>@Model.configs.Address</small>
                <small class="ms-4" style="font-size: 13px"><i class="fa fa-envelope me-1"></i> <a class="custom_contact" href="">@Model.configs.Email</a></small>
                <small class="ms-4" style="font-size: 13px"><i class="fa fa-phone-alt me-1"></i><a class="custom_contact" href=""> @Model.configs.Phone </a></small>
                <div class="ms-3 d-flex">
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="@Model.configs.Facebook" target="@Model.configs.Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="@Model.configs.Twitter" target="@Model.configs.Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="@Model.configs.Instagram" target="@Model.configs.Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>