@using WCRM.MODEL.AdminPanel
@{
    ViewData["Title"] = "Weblink Communication Ltd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WCRM.ViewModel
@model HomeViewModel
<!-- Service Start -->
<div class="pt-5 pb-5" style="background-color: rgb(1, 1, 30);">
    <div class="container">
        <!-- Header Section -->
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <div class="sub-title font-20 text-uppercase text-primary fw-medium">Our Services</div>
            <h2 class="title font-32 display-5 fw-bold text-white">Services that We Offer</h2>
        </div>

        <!-- Services Grid -->
        <div class="row g-4 provided-block">
            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="#" class="text-decoration-none">
                        <div class="service-item provided-block-item h-100 rounded shadow-sm bg-white p-4">
                            <div class="provided-block-item-image mb-3 text-center">
                                <picture>
                                    <img src="@service.Icon" data-src="@service.Icon" alt="@service.Name"
                                         class="lazy-image" style="width: 50px; height: 50px;">
                                </picture>
                            </div>
                            <h3 class="provided-block-item-title text-dark fw-medium text-center mb-3">@service.Name</h3>
                            <div class="provided-block-item-text text-secondary text-center">
                                <p class="mb-0">@service.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
